.cardInnerRightContianer {
  justify-self: center;
}

#cardContainer {
  width: 100%;
  z-index: 0;
}

#card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 100%;
  height: 14rem;
  justify-self: center;
  border-radius: 30px 30px 0 0;
}

#card::after {
  width: 410px;
  height: 205px;
  display: flex;
  position: absolute;
  content: '';
  rotate: -2deg;
  background: var(--color-magneta);
  top: -30px;
  left: 35px;
  border-radius: 30px 30px 0 0;
  z-index: -1;
}

#cardInnerContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

#cardInnerContainer span {
  color: white;
  align-self: center;
}

#cardNumber {
  font-size: clamp(20px, 1vw, 24px);
  letter-spacing: 2px;
}

#cardOwner {
  font-size: clamp(18px, 3vw, 28px);
}

#cardCVV {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #333333;
  font-size: clamp(14px, 1.5vw, 18px);
}

#mastercard {
  width: 50px;
  height: 30px;
  align-self: center;
}
