#profileContainer {
  height: calc(var(--index) * 3.2);
  max-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 44px;
  background-color: white;
  padding: 0 15px 0 15px;
}

#profileText {
  font-size: clamp(12px, 1.5vw, 22px);
}

#profileIcon {
  max-height: 62px;
  max-width: 62px;
  width: calc(var(--index) * 1.8);
  height: calc(var(--index) * 1.8);
  border-radius: 50%;
}
