#profileContainer {
  max-height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 44px;
  background-color: white;
  padding: 0 15px 0 15px;
}

#profileText {
  font-size: 22px;
  padding-left: 30px;
}

#profileIcon {
  height: 62px;
  width: 62px;
  border-radius: 50%;
}
