#mainContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

#balanceContainer {
  width: 100%;
  background-color: #fff;
}

#buttonContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

#balanceLayout {
  display: grid;
  grid-template-rows: 0.3fr 1.5fr 1fr;
  gap: 20px;
}

#arrowRequest {
  rotate: 180deg;
  stroke: #000000;
}

#totalSum {
  font-size: 5rem;
  color: black;
}

#totalValute {
  font-size: 1.2rem;
  color: var(--color-gray);
  margin: 0 0 0 30px;
}
