#mainContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

#balanceContainer {
  width: 100%;
  background-color: #fff;
}

#buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
