#mainContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

#balanceContainer {
  width: 100%;
  background-color: #fff;
}

#buttonContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

#balanceLayout {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 20px;
}

#arrowRequest {
  rotate: 180deg;
  stroke: #000000;
}
