.cardButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardButtonInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: clamp(12px, 1.5vw, 18px);
}

.icon {
  max-height: 62px;
  max-width: 62px;
  width: calc(var(--index) * 0.6);
  height: calc(var(--index) * 0.6);
}
