.cardInfoElementContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardInfoElementInfoContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  font-size: clamp(12px, 1.5vw, 18px);
  font-weight: 500;
}

.icon {
  max-height: 62px;
  max-width: 62px;
  width: 20px;
  height: 20px;
}
