#headerContainer {
  display: grid;
  grid-template-columns: 0.5fr 2fr 6fr;
  gap: 25px;
  margin: 30px;
  font-family: 'Urbanist';
}

#logo {
  width: calc(var(--index) * 3.2);
  height: calc(var(--index) * 3.2);
  max-width: 90px;
  max-height: 90px;
}
