.navElement {
  justify-content: center;
  padding: 36px 0 36px 0;
  font-size: clamp(12px, 1.5vw, 22px);
}

#navContainer {
  height: calc(var(--index) * 3.2);
  max-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 50px;
}
