#cardContainer {
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
  border-radius: 30px;
  font-size: 1.2rem;
  color: white;
  padding: 30px 50px;
}

#cardContent {
  display: grid;
  gap: 10px;
  grid-template: 30px 30px / 5fr 1fr;
}

#paymentSystem {
  width: 40px;
  height: 25px;
}
