body {
  margin: 0;
  background-color: #f2f2f2;
}

:root {
  --index: calc(1vw + 1vh);
  --color-magneta: #6e438e;
  --color-gray: #989898;
  --color-text-gray: #787878;
}

#root {
  max-width: 2048px;
  height: 100%;
}
